<h1 class="pb-4">About Me</h1>

<header class="aboutHeader">
  <h1>Davit Khanal</h1>
</header>

<div class="body">
  <div class="section">
    <p>
      Hello there! 👋 I'm <%= name %>, a passionate learner exploring the realms
      of Node.js and the art of cooking.
    </p>
    <p>
      Currently, I'm on a journey to master the world of web development with
      Node.js while whipping up some delicious recipes in the kitchen.
    </p>
    <p>Feel free to connect with me on GitHub and LinkedIn:</p>

    <div class="social-icons">
      <a href="<%= githubLink %>" target="_blank" rel="noopener noreferrer" class="github"
        ><i class="bi bi-github"></i
      ></a>
      <a href="<%= linkedinLink %>" target="_blank" rel="noopener noreferrer" class="linkedin"
        ><i class="bi bi-linkedin"></i
      ></a>
    </div>
  </div>
</div>
